
body{
    color: aquamarine;
    padding-left: 10rem;
    padding-right: 10rem;
    justify-items: center;
    background-color: black;
    font-family: "Itim", "Montserrat", sans-serif;
}

.home{
    display: grid;
    grid-template-columns:1fr 1fr;
}
figure{
    margin:0.5rem;
}
figcaption{
    font-style: italic;
    font-size:small;
}
ul{
    list-style-type: none;
}
table ul{
    list-style-type: square;
}
footer ul{
    display: flex;
    list-style-type: none;  
}
footer ul li{
    margin-left:2rem;
    margin-right: 2rem;
}
.listaCategorias{
    display:block;
    list-style-type: none;
}
table{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
caption{
    padding-bottom: 1rem;
    font-size: 20px;
}
tr, td{
    text-align: left;
    vertical-align: top;
    padding: 0.5rem;
    
}
.detalle figure{
    float: left;
}
.detalle ul.cocina{
    list-style-type: none;
    display:flex;
}
a{
    text-decoration: none;
    color:aquamarine;
}
a:hover{
    color:darkgoldenrod;
}
a:hover img{
    transition: transform 0.5s;
    transform: scale(1.1);
}
.fotos{
    display:flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
}
.fotos img{
    margin:0.5rem;
}
.esqui{
    list-style-type: none;
}
@media screen and (max-width: 992px){
    body{
        padding-left:5rem;
        padding-right: 5rem;
    }
    .fotos, .home{
        display:block;
    }
    table{
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: 768px){
    body{
        padding-left:5rem;
        padding-right: 5rem;
    }
    
    footer ul li{
        margin-left:1rem;
        margin-right: 1rem;
    }
    table{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
@media screen and (max-width: 576px){
    body{
        padding-left:2.5rem;
        padding-right: 2.5rem;
    }
    footer ul{
        display: block;
        list-style-type: none;  
    }
    footer ul li{
        margin-left:0.5rem;
        margin-right: 0.5rem;
    }
    table{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .detalle figure{
        float: none;
    }
}

.carrusel{
    display:flex;
    align-items: center;
    justify-content: center;
    
    width:90%;
    padding:0;
    margin:0;

}
.imagen img{
    width: 300px;
    height:300px;

}
.pic{
    object-fit: contain;
    
}
.puntos{
    display:flex;
    align-items: center;
    justify-content: center;
}
.puntos p{
    font-size: 100px;
    font-weight: 500;
    margin-top:-100px;
    color:rgb(253, 253, 253);
    margin-bottom:0;
}
.puntos .bold{
    font-weight: 700;
    margin-left:10px;
    margin-right:10px;
    color:blueviolet;
}